.category-container {
  width: 100%;
  background: #2f2f2f;
  padding: 20px 0;
  overflow-x: auto;
  scrollbar-width: none;
}

.category-container::-webkit-scrollbar {
  display: none;
}

.category-track {
  display: flex;
  padding: 0 20px;
  justify-content: center;
  flex-wrap: nowrap;
}

.category-card {
  width: 150px;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.25s ease;
}

.category-card:hover {
  transform: translateY(-4px);
}

.category-img img {
  width: 100%;
  height: 110px;
  object-fit: contain;
  border-radius: 6px;
}

.category-title {
  color: white;
  font-size: 14px;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  .category-container {
    overflow-x: hidden;
  }

  .category-track {
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 0 15px;
  }

  .category-card {
    width: 100% !important;
    min-width: unset;
  }
}
