.hero-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  z-index: 200;
}

.slider-window {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.slider-track {
  display: flex;
  transition: transform 0.6s ease-in-out;
}

.slide img {
  width: 100%;
  height: 420px;
  object-fit: cover;
  display: block;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 42px;
  height: 140px;

  background: rgba(255, 255, 255, 0.32);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(3px);
  box-shadow: 0px 3px 8px rgba(0,0,0,0.25);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  color: #111;
  cursor: pointer;

  z-index: 9999 !important;
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.55);
}

.arrow-left {
  left: 12px;
}

.arrow-right {
  right: 12px;
}

@media (max-width: 768px) {
  .arrow {
    display: none !important;
  }
}