.header-topbar {
  width: 100%;
  background: rgba(0, 0, 0, 0.35);
  padding: 8px 25px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;   
  top: 0;
  left: 0;
  z-index: 10;
}

.header-icons {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 18px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .header-topbar {
    display: none !important;
  }
}