.promo-container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
  background: white;
  padding: 0px 0 20px 0;
}

.promo-item img {
  width: 100%;
  max-width: 380px;
  object-fit: contain;
  border-radius: 4px;
  display: block;
}
