.menu-container {
  width: 100%;
  background-color: #2f2f2f;
  display: flex;
  align-items: center;
  height: 48px;
}

.menu-item {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: 100%;
  color: #d5d5d5;
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.2s;
}

.menu-item:hover {
  background-color: rgba(255, 255, 255, 0.08);
}

.menu-item.active {
  background-color: #f6a000;
  color: white;
}

.menu-hamburger {
  display: none;
  position: absolute;
  top: 75px;
  right: 20px;

  width: 55px;
  height: 55px;

  background: #0a0f2c;
  border-radius: 50%;
  border: 3px solid white;

  font-size: 26px;
  color: white;

  justify-content: center;
  align-items: center;

  cursor: pointer;
  z-index: 2000;
}

.menu-responsive {
  display: none;
  flex-direction: column;
  background: #2f2f2f;
  width: 100%;
  padding: 15px 0;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 1500;
}

.menu-responsive.open {
  display: flex;
}

.menu-resp-item {
  padding: 18px 0;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-resp-item:hover {
  background: rgba(255, 255, 255, 0.12);
}

@media (max-width: 768px) {
  .menu-container {
    display: none;
  }

  .menu-hamburger {
    display: flex;
  }
}
