.np-container {
  position: relative;
  width: 100%;
  padding: 10px 0 20px 0;
  background: white;
}

.np-header {
  width: 90%;
  margin: auto;
  background: #f5a200;
  padding: 12px 0;
  text-align: center;
  color: white;
  font-weight: 700;
  border-radius: 8px;
  font-size: 18px;
}

.np-window {
  width: 90%;
  overflow: hidden;
  margin-top: 25px;
  margin-left: 80px;
}

.np-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.np-item {
  text-align: center;
  padding: 10px;
  position: relative;
}

.np-item img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  display: block;
  margin: auto;
}

.np-agotado {
  padding: 8px 12px;
  background: black;
  color: white;
  font-size: 12px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  position: absolute;
  top: 2px;
  left: 0; 
}

.np-ban-icon {
  font-size: 12px;
  margin-right: 6px;
}

.np-name {
  margin-top: 12px;
  font-size: 14px;
  font-weight: 600;
}

.np-code {
  margin-top: 30px;
  font-size: 13px;
  color: #777;
}

.np-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background: white;
  border: 1px solid #ccc;
  cursor: pointer;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 20;
}

.np-left {
  left: 20px;
}

.np-right {
  right: 20px;
}

.np-btn:hover {
  background: #f2f2f2;
}

@media (max-width: 768px) {
  .np-container {
    display: none !important;
  }
}